@model ServiceItem
<div>
    <h2>
        Название:@Model.Title
    </h2>
    <h2>
        @Model.Subtitle
    </h2>
    <h2>Коллекция:@Model.CollectionName</h2>
    <div>
        <img class="img-block" src="~/images/@Model.TitleImagePath" />
    </div>
</div>
<div>
    @Html.Raw(Model.Text)
</div>
<h1>
    Тэги: @Model.MetaTitle, @Model.MetaTitle, @Model.MetaDescription
</h1>